# .gitignore for dlputils

# Makefile stuff
*.in
/config/
configure
aclocal.m4
/autom4te.cache/
Makefile
.deps/
config.h
config.log
config.status
libtool
stamp-h1

# Build Objects
*.o
*.mod

# Misc
changes
*.tar.gz
*.zip
*.swp

# Program targets
dlp2xyzf
catdlp
dlp2dlp
addheader
editconfig
filterdlp
his2config
his2xyzs
dlp2dlpflipz
dlp2dlpshift
dlpreorder
chunkdlp
xyz2his
cdf
dist2
ardf
rdf
rdfsum
rdfaa
rdfaainter
rdfss
rdfdep
zdens
acfcat
acfprep
acfsum
angle
cagecor2
cn
counthb
geom
getcell
intertorsion
intratorsion
intratorsion2
lifehb
moldist
msd
msd2
vac
vac2
bident
bident2
bident2anal
bident3
bident4
cluster
clusterab
cryscomp
dahist
legendre
zangle
glucanal
glucgeom
gluchb
gluchbeach
pdens
pdensint
pdensmirror
pdenstrim
pdensgauss
avgconfig
dlpsize
genlb
gengg
pairs
probedlp
sq
acf
dacf
totalgr
partials2sq
ringconf
